ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    
    
}

.logo{
    margin-right: auto;
    
}

ul li{
    display: flex;
    padding: 0 20px;
    align-items: center;
    color: white;
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items horizontally with space between */
    width: 100vw;
    background-color: black;
    padding: 0 20px; /* Add padding to the navbar */
}


ul a:hover {
    color: red;
}